@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --header-height: 3.5rem;

    /* color */
    --primary-color: rgb(255, 255, 255);
    --second-color: rgb(254, 246, 229);
    --title-color: rgb(0, 0, 0);
    --text-color: rgba(32, 31, 31, 0.9);
    --text-color-light: rgba(32, 31, 31, 0.6);

    /* font */
    --body-font: 'Poppins', sans-serif;
    --title-font: 'Source Serif Pro', serif;

    /* font size */
    --biggest-font-size: 48px;
    --h1-font-size: 28px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --normal-font-size: 14px;
    --small-font-size: 12px;
    --smaller-font-size: 8px;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* z index */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;

    /* vertical space */
    --largest-v-space: 100px;
    --large-v-space: 60px;
    --medium-v-space: 40px;
    --small-v-space: 12px;
    --smaller-v-space: 6px;

    /* horizontal space */
    --large-h-space: 60px;
    --medium-h-space: 40px;
    --small-h-space: 20px;
}

/* ===== BASE ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--primary-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted var(--text-color-light);
}

[class^="ri-"] {
    padding: 0;
    position: relative;
    bottom: -3px;
}

img {
    max-width: 100%;
    height: auto;
    /* object-fit: cover;
    object-position: center; */
}

/* ========== CODE  ========== */
.container {
    max-width: 68%;
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding: var(--large-v-space) var(--small-h-space);
    background-color: var(--second-color);
    gap: var(--small-h-space);
}

.sidebar {
    flex: 2;
    display: flex;
}

.sidebar__box{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 250px;
}

.fixed{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: var(--small-v-space);
    margin: 0 auto;
    width: 100%;
    max-width: inherit;
}

.sidebar__avatar{
    display: flex;
    max-width: 100%
}
.sidebar__avatar > img{
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.sidebar__logo {
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    line-height: calc(var(--h2-font-size)*1.5);
    margin-left: var(--small-h-space);
}

.sidebar__menu {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-left: var(--medium-h-space);
}

.sidebar__utils{
    display: flex;
    gap: var(--small-h-space);
    padding: 0 var(--small-h-space);
}

.utils__btn{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--h1-font-size);
    color: var(--text-color);
}

.content {
    flex: 7;
    padding: 0 var(--medium-h-space);
}

.content__section{
    margin-bottom: var(--largest-v-space);
}

.content__welcome_text {
    font-size: var(--biggest-font-size);
    line-height: calc(var(--biggest-font-size)*1.2);
    font-family: var(--title-font);
    margin-top: var(--small-v-space);
}

.content__normal_text {
    font-size: var(--normal-font-size);
    line-height: calc(var(--normal-font-size)*1.2);
    margin-bottom: var(--smaller-v-space);
}

.break{
    margin-bottom: var(--small-v-space);
}

.large_first_letter::first-letter {
    font-size: 200%;
}

.content__section_title{
    margin-bottom: var(--medium-v-space);
}

.content__section_body h3{
    font-size: var(--h3-font-size);
    margin-bottom: var(--smaller-v-space); 
}
.content__section_body > p{
    font-size: var(--normal-font-size);
    line-height: calc(var(--normal-font-size)*1.5);
}

.title__space_between{
    display: flex;
    justify-content: space-between;
}


.copyright{
    justify-content: center;
    padding: var(--small-v-space) 0px;
}